<%= form_with(model: reimbursement, local: true) do |form| %>
  <% if reimbursement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reimbursement.errors.count, "error") %> prohibited this reimbursement from being saved:</h2>

      <ul>
      <% reimbursement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.number_field :cost %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
