<p id="notice"><%= notice %></p>

<h1>Reimbursements</h1>

<table>
  <thead>
    <tr>
      <th>Purpose</th>
      <th>Cost</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reimbursements.each do |reimbursement| %>
      <tr>
        <td><%= reimbursement.purpose %></td>
        <td><%= reimbursement.cost %></td>
        <td><%= reimbursement.employee %></td>
        <td><%= link_to 'Show', reimbursement %></td>
        <td><%= link_to 'Edit', edit_reimbursement_path(reimbursement) %></td>
        <td><%= link_to 'Destroy', reimbursement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reimbursement', new_reimbursement_path %>
